{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="w-full bg-slate-800 text-slate-400 p-6 rounded-md">

    <a href="{% url 'home' %}" class="btn btn-accent bg-slate-600 w-fit flex items-center">Go back <i class="fa-solid fa-left-long ml-3"></i></a>
    
    <h3 class="text-2xl text-center font-bold mb-5">Cast Your Vote</h3>

    <div class="body-section">
        
        <h2 class="text-xl text-center">{{ poll.question }}</h2>     
        
       

        <form class="flex flex-col items-center justify-center mt-5 font-bold" method="POST">
            {% csrf_token %}
                
            <p>Selecte one</p>
            <div class="btn-group mb-5">
                <input type="radio" name="poll" data-title="{{ poll.option_one }}" value="option1" class="btn">
                <input type="radio" name="poll" data-title="{{ poll.option_two }}" value="option2" class="btn">
                <input type="radio" name="poll" data-title="{{ poll.option_three }}" value="option3" class="btn">
            </div>

            <button type="submit" class="btn btn-gost bg-slate-600 mt-5 w-full">Submit</button>
        </form>
       
           
    </div>
</div>
{% endblock %}